<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>  
  <form action="<%=id %>" method="post">
    ID: <input type="text" name="id" value="<%=id %>" readonly>
    Name: <input type="text" name="name" value="<%=name %>">
    Address: <input type="text" name="address" value="<%=address %>">
    Phone: <input type="text" name="phone" value="<%=phone %>">
    <button type="submit">submit</button>
  </form>
</body>
</html>